@using FactoryContracts.ViewModels

@model List<ReportLatheViewModel>

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Отчет по планам</h1>
</div>


<div class="text-center">
	@{
		<form method="post">
			<div class="row">
				<div class="col-4">Выберите Даты:</div>
				<div class="col-8">
					<input id="dateFrom" name="dateFrom" class="form-control" type="date" />
					<input id="dateTo" name="dateTo" class="form-control" type="date" />
				</div>
			</div>
			<div class="row">
				<div class="col-8"></div>
				<div class="col-4">
					<input type="submit" value="Создание отчета" class="btn btn-success" />
				</div>
			</div>
			<button style="width:100%" class="btn btn-lg btn-block" type="submit" asp-controller="Home" asp-action="CreatePdfReport">Отправить pdf отчёт</button>
		</form>
			
			@if (Model != null)
			{
				<table class="table">
				<thead>
					<tr>
						<th>
							План
						</th>
						<th>
							Дата начала
						</th>
						<th>
							Дата конца
						</th>
						<th>
							Название компонента
						</th>
						<th>
							Название станка
						</th>
					</tr>
				</thead>
				<tbody>
				@foreach (var item in Model)
				{
							<tr>
								<td>
							@Html.DisplayFor(modelItem => item.PlanName)
								</td>
								<td>
							@Html.DisplayFor(modelItem => item.dateFrom)
								</td>
								<td>
							@Html.DisplayFor(modelItem => item.dateTo)
								</td>
								<td>
							@Html.DisplayFor(modelItem => item.ComponentName)
								</td>
							<td>
								@Html.DisplayFor(modelItem => item.LatheName)
							</td>
							</tr>
				}
				</tbody>
			</table>
			}
			
	}
</div>